body {
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);

}
.inter-h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: gray;
}
.inter-submit {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1 {
  padding-top: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.858);
  font-weight: bolder;
}
.mu {
  margin-top: 5px;
}
.box {
  width: 300px;
  height: 80vh;
  border-radius: 5px;
  margin: 30px auto;
  background-color: whitesmoke;
}
form {
  width: 200px;
  margin: 0 auto;
}
.fw {
  text-align: left;
  width: 100%;
  display: inline-block;
}
#userName, #password {
  width: 100%;
  border: 0;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  background-color: whitesmoke;
}
#password {
  margin-bottom: 10px;
}
#userName::placeholder, #password::placeholder {
  color: gray;
  font-size: 10px;
}
#userName:focus, #password:focus {
  outline: none;

}
input#checkbox {
  width: 15px;
  height: 10px;
  text-align: left;
  margin-bottom: 0;;
}
label.checkbox {
  text-align: left;
  font-size: 11px;
}
input.submit {
  margin: 20px auto 0 auto;
  width: 40%;
  display: block;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  color: rgba(0, 0, 0, 0.858);
}